<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'todo_app/main.css' %}">
    <title>現在のToDo</title>
</head>
<body>
    <p class = "Title">ToDoリスト</p>
    <p>ToDo一覧</p>
    <div class = "Wrapper">
        {% if data %}
            {% for item in data %}
            <div class = "Card">
                <p class="ToDo">{{ item.Todo }}</p>
                <p>締切: {{ item.DeadLine|date:"n月j日" }}</p>
                <p>カテゴリ:{{ item.get_Category_display }}</p>
                <form method="post" action="{% url 'todo_app:Delete' item.id %}">
                    {% csrf_token %}
                    <button class = "Complete">完了</button>
                </form>
            </div>
            {% endfor %}
        {% else %}
            <p>ToDoはありません</p>
        {% endif %}
    </div>
    <div class = "footer">
        <a href="{% url 'todo_app:Input' %}" class = "Link">ToDoを追加する</a>
    </div>
</body>
</html>