<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'todo_app/main.css' %}">
    <title>現在のToDo</title>
</head>
<body>
    <p class = "Title">ToDoリスト</p>
    <div class = "Wrapper">
        {% for item in data %}
        <div class = "Card">
            <p>ToDo: {{ item.Todo }}</p>
            <p>締切: {{ item.DeadLine }}</p>
            <form method="post" action="{% url 'todo_app:Delete' item.id %}">
                {% csrf_token %}
                <button>完了</button>
            </form>
        </div>
        {% endfor %}
    </div>
    <a href="{% url 'todo_app:Input' %}" class = "Link">ToDoを作成する</a>
</body>
</html>