body{
    margin: 0; /* 余白をリセットして画面全体を占有する */
    height: 100vh; /* 画面の高さいっぱいに広がるようにする */
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    padding: 10px 50px;
}

.main{
    display: flex;
    justify-content: center;
}

.subTitle{
    font-size: 1.5rem;
}

.back{
    margin-left: 500px;
    display: block;
    width: 200px;
    text-decoration: none;
    padding: 5px 5px;
    color: #333;
    font-size: 1.25rem;
    border-bottom: solid 3px #333;
    border-radius: 2px;
    position: relative;
    text-align: center;
}
.back::before{
    content: "";
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    left: 10px;
    border-top: 3px solid #333;
    border-right: 3px solid #333;
    transform: rotate(225deg);
}